:root {
    --standard-gap: 10px;
    --standard-padding: 20px;
    --background-main: yellow;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

form {
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: var(--standard-padding);
    width: 100%
}



.location-date {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
    align-items: center;
    padding: var(--standard-padding);
    width: 100%
}

.today-main {
    background-color: var(--background-main);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
    width: 100%
}

.left-today,
.right-today {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
}



.today-lower {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%
}

.forecast {
    display: flex;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
    background-color: blue;
    width: 100%;
    justify-content: center;
}

.day {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: var(--standard-gap);
    padding: var(--standard-padding);
    background-color: pink;
}

.day > .date {
    grid-column: 1 / -1;
}

.day > .condition {
    grid-template-columns: 2 / -1;
}

.day > .max.temp-label,
.day > .max-temp {
    grid-column: 2 / 3;
}

.day > .min.temp-label,
.day > .min-temp {
    grid-column: 3 / -1;
}

.day > .chance-rain {
    grid-column: 2 / 3;
}